<% if logged_in? %>
  <div class="to-sell-btn">
    <%= button_to "出品", new_item_path, method: :get %>
  </div>
  <div class="item-feed">
    <h3>新着商品</h3><br>
    <%= render 'shared/feed' %>
  </div><br>
<% else %>
  <div class="center jumbotron">
    <h1>メルカリクローンへようこそ！</h1>

    <h2>
      このアプリは
      <a href="https://www.mercari.com/jp//">メルカリ</a>
      のクローンアプリです。
    </h2>
    <p>header右端のログインボタンからテストアカウントでログインできます</p>
    <p>email: example@railstutorial.org</p>
    <p>password: foobar</p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
