// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.comment-feed {
  margin-top: 20px;
}

.comment-form {
  margin-top: 20px;
}
.item {
  font-size: 20px;
}

/* items */

.items {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    font-size: 13px;
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      border-radius: 5px 5px 0 0;
      max-width: 100%;
      height: auto;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  a {
    z-index: 2;
    color: black;

    &:hover {
      color: black;
    }

    .like {
      z-index: 3;
    }
  }
}
.card {
  float: left;
  margin: 0 0 20px 20px;
  background: #fff;
  width: 160px;
  height: 218px;
  z-index: 2;

  .card-picture {
    position: relative;
    width: 100%;
    height: auto;

    .picture {
      max-width: 100%;
      height: auto;
    }
    .like {
      position: absolute;
      bottom: -5px;
      right: 0;
    }

    p {
      position: absolute;
      bottom: 3px;
      left: 0;
      margin: 0;
      padding: 0 2px;
      background-color: rgba( 51, 51, 51, 0.6 );
      color: white;
      border-radius: 0 10px 10px 0;

    }
    .sold-mark {
      transform: rotate(-45deg);
      position: absolute;
      width: 200px;
      top: -30px;
      text-align: center;
      left: -89px;
      padding-top: 50px;
      padding-bottom: 2px;
      background-color: #ea352d;
      color: white;
      letter-spacing: 1.5px;
      font-weight: 500;
      font-size: 18px;
    }
  }
}
.card-content {
  padding: 10px;
  height: 50px;
}

.to-sell-btn input {
  position: fixed; right: 30px; bottom: 30px;
  display: block;
  transition:
          right 0.2s ease-out 0s,
          bottom 0.2s ease-out 0s,
          opacity 0.2s ease-out 0s,
          transform 0.2s ease-out 0s;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: 0;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background: #ea352d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 1;
}
